/*media queries*/
@media screen and (min-width: 1500px) {
}

@media screen and (max-width: 1200px) {
  .recent_head {
    font-size: 79px;
  }
  .nav_second {
    font-size: 60px;
  }
}
@media screen and (max-width: 1170px) {
  .slider_cont .text {
    font-size: 64px;
  }
}
@media screen and (max-width: 1000px) {
  .slider_cont .text {
    font-size: 59px;
  }
  .recent_head {
    font-size: 72px;
  }
  .pricing_cont {
    flex-flow: row wrap;
  }
  .pricing_item {
    width: calc((100% - 150px) / 2);
  }
  footer {
    padding: 120px 80px;
  }
  .worked_with .worked_title {
    font-size: 54px;
    width: 70%;
  }
  .creative_people .head_part {
    font-size: 46px;
  }
  .nav_first {
    display: none;
  }
  .nav_second {
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 770px) {
  .slider_cont .text {
    font-size: 54px;
  }
  .recent_head {
    font-size: 65px;
  }
  .recent_works .works {
    display: flex;
    flex-flow: row wrap;
  }
  .blog_title {
    font-size: 54px;
  }
  .worked_with .worked_title {
    font-size: 48px;
    width: 80%;
  }
  .clients_lines .client_inner {
    width: calc((100% - 20px) / 2);
  }
  .from_blog .cont .cont_item {
    flex-flow: column;
  }
  .from_blog .cont .second .right_part {
    order: 2;
  }
  .from_blog .cont .second .img_part {
    order: 1;
  }
  .from_blog .cont .cont_item .img_part {
    width: 100%;
  }
  .from_blog .cont .cont_item .right_part {
    width: 100%;
    margin-left: 0px;
  }
  .pricing_item {
    width: calc(100% - 100px);
  }
  .foot_first {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .foot_first ul li {
    text-align: center;
  }
  footer ul.footer_cont {
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  footer ul.footer_cont li.first {
    text-align: center;
  }
  footer ul.footer_cont li.last {
    text-align: center;
  }

  .footer_title {
    font-size: 48px;
    text-align: center;
  }
  .creative_people .first {
    flex-flow: column;
  }
  .creative_people .head_part {
    width: 100%;
    font-size: 42px;
    padding-bottom: 30px;
  }
  .creative_people .cont_part {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .slider_cont .text {
    font-size: 40px;
  }
  .recent_head {
    font-size: 59px;
  }
  .recent_works .works_col {
    width: 100%;
  }
  .worked_with .worked_title {
    font-size: 40px;
    width: 100%;
  }
  .from_blog .cont .cont_item .img_part {
    min-width: 200px;
  }
}
@media screen and (max-width: 400px) {
  .slider_cont .text {
    font-size: 35px;
  }
  .recent_head {
    font-size: 35px;
  }
  .blog_title {
    font-size: 35px;
  }
  .pricing .pricing_title {
    font-size: 35px;
  }
  .footer_title {
    font-size: 35px;
  }
  .from_blog .cont {
    padding: 20px;
  }
  .from_blog .cont .cont_item .right_part {
    margin-left: 30px;
    width: 100%;
  }
}